/* src/components/Canvas/CanvasContainer.css */
.canvas-container {
  flex: 1;
  background: #ecf0f1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.canvas-area {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.canvas-2d, .canvas-3d {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-2d {
  z-index: 1;
}

.canvas-3d {
  z-index: 2;
}